 <!-- loan more, pay the origin -->
 <div class="row">
  <div class="col">
    <h4>Vay them</h4>
    <div class="form-group">
      <label>So tien</label>
      <input type="number" class="form-control" id="loanMore">
    </div>
    <button class="btn btn-sm btn-primary" id="btn-loan-more">Add</button>
  </div>

  <div class="col">
    <h4>Tra bot</h4>
    <div class="form-group">
      <label>So tien</label>
      <input type="number" class="form-control" id="loanMore">
    </div>
    <button class="btn btn-sm btn-primary" id="btn-pay-origin">Add</button>
  </div>

  <div class="col">
    <h4>Quy dinh block</h4>
    <div class="form-group">
      <label for="">So ngay</label>
      <input type="number" class="form-control" id="block">
      <button class="btn btn-sm btn-primary" id="btn-set-block">Set</button>
    </div>
  </div>
</div>