<!-- package -->
<div class="row">
  <!-- simulation -->
  <div class="col">
    <div class="simulation period-table-container">
      <h4>Simulation</h4>
      <table class="table table-hover  period-table">
        <thead>
          <tr>
            <th scope="col" id="period">Ky</th>
            <th scope="col" id="redemptionDate">Ngay dong</th>
            <th scope="col" id="redemption">So tien dong(principal+interest)</th>
            <th scope="col" id="principal">Principal</th>
            <th scope="col" id="incrementalPaidPrincipal">Goc da tra cong don</th>
            <th scope="col" id="interest">Lai</th>
            <th scope="col" id="accumulatedPaidInterest">Lai da tra luy ke</th>
            <th scope="col" id="remainOrigin">Goc con lai</th>
            <th scope="col" id="totalPayment">Tong tien dong(phat+ so tien dong)</th>
            <th scope="col" id="paid">Da tra</th>
            <th scope="col" id="remain">Con lai</th>
            <th scope="col" id="periodStatus">Tinh trang</th>
            <th scope="col" id="counter">Days pass</th>
            <th scope="col" id="penalty">Penalty</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

</div>

