<template id="contract-template">
  <link href="/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/mdbootstrap/css/mdb.min.css" rel="stylesheet">
  <link href="/mdbootstrap/css/style.css" rel="stylesheet">
  <div class="md-form">
    <input id="form1" type="text" class="form-control" disabled>
    <label id="label" for="form1" data-error="Empty"></label>
  </div>

</template>