<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .content-container {
      border: 1px solid lightgrey;
      padding: 5%;
      /* width: 50vw; */
    }

    .part {
      margin-bottom: 3%;
    }

    .contract-image {
      width: 128px;
      height: auto;
      max-height: 128px;
      position: relative;
      float: right;
    }

    .contract-image img {
      width: 100%;
      height: auto;
    }

    .contract-detail-body {
      padding: 0 5%;
    }

    .contract-detail-body .section {
      margin: 2% 0;
      padding: 0 5%;
    }

    .section-title {
      font-weight: bold;
    }

    .section-title.signature-container {
      font-weight: normal;
      font-style: italic;
      margin: 5%;
    }

    .signature {
      min-height: 192px;
    }

    .signature h5 {
      font-weight: bold;
      text-align: center;
    }

    .invisible-div {
      visibility: hidden;
      width: 0;
      height: 0;
    }
  </style>
</head>

<body>
  <template id="info-template">
    <style>
      label {
        font-weight: bold;
      }
    </style>
    <div class="form-group row">
      <!-- Material input -->
      <label class="col-sm col-form-label"></label>
      <div class="col-sm">
        <div class="md-form mt-0 form-sm">
          <input type="text" class="form-control" value="" disabled>
        </div>
      </div>
    </div>

  </template>

  <template id="contract-template">

    <div class="content-container">
      <div class="btn-options d-flex mb-4">
        <a href="" class="btn btn-primary btn-sm get-pdf" style="margin: auto;">Tạo hợp đồng giấy</a>
        <button class="btn btn-secondary btn-sm get-check-table" style="margin: auto;">Check table</button>
      </div>
      <div class="contract-detail-container">
        <div class="contract-detail-header part">
          <div class="container">
            <div class="row">
              <div class="col-2"></div>
              <div class="col" style="display: flex;">
                <div class="contract-title" style="margin: auto; ">
                  <p class="h3" style="font-weight: bold; text-decoration: underline;">Thông tin hợp đồng</p>
                </div>
              </div>
              <div class="col-2">
                <div class="contract-image">
                  <img src="" alt="" id="contract-image">
                </div>
              </div>
            </div>
          </div>


        </div>
        <div class="contract-detail-body part">
          <div class="a-side-info-container section-container">
            <h4 class="section-title">I. Thông tin bên A</h4>
            <div class="section"></div>
          </div>
          <div class="b-side-info-container section-container">
            <h4 class="section-title">II. Thông tin bên B</h4>
            <div class="section"></div>

          </div>
          <div class="contract-info-container section-container">
            <h4 class="section-title">III. Thông tin hợp đồng</h4>
            <div class="section"></div>

          </div>
          <div class="item-info-container section-container">
            <h4 class="section-title">IV. Thông tin tài sản thế chấp</h4>
            <div class="section " style="border: 1px solid lightgrey;">
              <div class="item-info d-flex flex-wrap">
              </div>
              <div class="item-status d-flex flex-wrap">
              </div>
            </div>

          </div>
        </div>
        <div class="contract-detail-footer part">
        </div>
      </div>


    </div>
  </template>

  <div id="contract-info"></div>

</body>

</html>