<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    tr:hover{
      cursor: pointer;
    }
  </style>
</head>

<body>
  <%- include('../Components/navbar.ejs') %>

  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>Kỳ thu quá hạn</h2>
      <table class="table table-striped table-hover table-responsive going-to-do-period-table">
        <thead>
          <tr>
            <th id="id">Mã kỳ</th>
            <th id="daysBetween">Số ngày quá hạn</th>
            <th id="interest">Lãi</th>
            <th id="principal">Gốc hàng tháng</th>
            <th id="totalPenalty">Tổng số tiền phạt</th>
            <th id="redemption">Tong phai dong</th>
            <th id="paid">Đã trả</th>
            <th id="remain">Còn lại</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>
  <script>
    const latePeriodArray = JSON.parse('<%- JSON.stringify(latePeriodArray)%>')
    console.log('going to do period :', latePeriodArray)

    if (latePeriodArray.length !== 0) {
      latePeriodArray.forEach(period => {
        var tr = document.createElement('tr')
        tr.id = period.contractId
        document.querySelectorAll('table.going-to-do-period-table thead th').forEach(element => {
          var th = document.createElement('th')
          th.innerHTML = period[element.id]
          tr.appendChild(th)
        })
        tr.addEventListener('click', (event) => {
          console.log('event: ', event.target.closest('tr'))
          window.location.href = `/contractMng/contracts/${event.target.closest('tr').id}/checkTable?token=${window.localStorage.getItem('accessToken')}`
        })
        document.querySelector('table.going-to-do-period-table tbody').appendChild(tr)
      })
    }
  </script>
</body>

</html>