<div class="template-metadata-container" id="template-metadata-container">
  <div class="form-group">
    <label class="bmd-label-floating" data-error="Empty">Tên mẫu hợp đồng</label>
    <input type="text" class="form-control validate" name="templateName" data-vie="Tên mẫu hợp đồng">
  </div>
  <div class="form-group" style="display: none;">
    <label class="bmd-label-floating" data-error="Empty">Category</label>
    <input type="text" class="form-control validate" name="category" data-vie="phanLoai">
  </div>
  <div class="form-group">
    <label class="bmd-label-floating" data-error="Empty">Loại tài sản</label>
    <!-- <input type="text" class="form-control validate" name="itemType" data-vie="loaiTaiSan"> -->
    <select class="form-control template-metadata" id="itemType" name="itemType" type="text"
      data-vie="Loại tài sản"></select>
  </div>
  <div class="form-group">
    <label class="bmd-label-floating" data-error="Empty">Mã loại tài sản</label>
    <input type="text" class="form-control validate" name="itemTypeId" data-vie="Mã loại tài sản">
  </div>
  <div class="form-group">
    <label class="bmd-label-floating" data-error="Empty">Phí thu</label>
    <input type="number" class="form-control validate" name="fee" data-vie="Phí thu">
  </div>
  <div class="form-group">
    <label class="bmd-label-floating" data-error="Empty">Phí khác</label>
    <input type="text" class="form-control validate" name="anotherFee" data-vie="Phí khác">
  </div>
  <div class="form-group">
    <label for="">Kieu thanh toan</label>
    <select class="form-control template-metadata" type="text" name="paymentMethod" data-vie="Kiểu thanh toán">
      <option value="1" name="fixedPresentValue1" data-vie="Gốc cố định">Dư nợ cố định cuối kỳ</option>
      <option value="2" name="diminutivalPresentValue" data-vie="Gốc giảm dần">Dư nợ giảm dần</option>
      <option value="3" name="pmt" data-vie="Gốc hàng tháng">Dư nợ hàng tháng</option>
      <option value="4" name="fixedPresentValue2" data-vie="Gốc cố định đầu kỳ">Dư nợ cố định đầu kỳ</option>

    </select>
  </div>

</div>