<div class="container">
    <cropper-wc title="abc"></cropper-wc>
</div>


<div class="container">
    <left>
        <div class="form-group">
            <label for="email">Template Name:</label>
            <input type="text" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="pwd">Type:</label>
            <input type="text" class="form-control" id="pwd">
        </div>
        <div class="form-group">
            <label for="import Template">Type:</label>
            <input type="file" class="form-control" id="pwd">
        </div>
        <!-- <div class="checkbox">
                    <label><input type="checkbox"> Remember me</label>
                  </div> -->
        <button type="submit" class="btn btn-default">Submit</button>

    </left>

</div>

<script type="module" src="Components/cropper/cropper.js"></script>