<div class="container">
    <div class=row>
        <label>Select Template Icon</label>
    </div>
    <div class=row>
        <cropper-wc title="abc"></cropper-wc>
    </div>
    <div class=row>
        <button id ="SelectImg" type="submit" class="btn btn-raised btn-primary">Select Image</button>
    </div>
</div>
<hr>

<div class="container">
    <left>
        <div class=" col-3">
            <label for="email">Template Name:</label>
            <input type="text" class="form-control" id="email" data-type="template-metadata">
        </div>
        <div class="col-3">
            <label for="pwd">Category:</label>
            <input type="text" class="form-control" id="pwd" data-type="template-metadata">
        </div>
        <div class="col-3">
            <label for="pwd">Type:</label>
            <input type="text" class="form-control" id="pwd" data-type="template-metadata">
        </div>
        <div class="">
            <label for="import Template">Custom Info:</label>
            <input type="file" class="form-control" id="pwd" data-type="template-metadata">
        </div>

    </left>

</div>

<!-- <script type="module" src="/cropper/cropper.js"></script> -->