<!-- Theme included stylesheets -->
<link href="http://cdn.quilljs.com/1.2.0/quill.snow.css" rel="stylesheet">
<style>
  /* Style the form */
  #regForm {
    background-color: #ffffff;
    margin: auto;
    padding: 40px;
    width: 70%;
    min-width: 300px;
  }

  /* Style the input fields */
  input {
    padding: 10px;
    width: 100%;
    font-size: 17px;
    font-family: Raleway;
    border: 1px solid #aaaaaa;
  }

  /* Mark input boxes that gets an error on validation: */
  /* input.invalid {
        background-color: #ffdddd;
    } */

  /* Hide all steps by default: */
  .tab {
    display: none;
  }

  /* Make circles that indicate the steps of the form: */
  .step {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
  }

  /* Mark the active step: */
  .step.active {
    opacity: 1;
  }

  /* Mark the steps that are finished and valid: */
  .step.finish {
    background-color: #4CAF50;
  }
</style>

<!-- contract template -->
<%- include("./contractPreviewTemplate.ejs") %>

<form id="regForm" action="">

  <!-- One "tab" for each step in the form: -->
  <!-- Step 1: select image -->
  <div class="tab md-tabs">Create template avatar:
    <div class="container">
      <div class=row>
        <cropper-wc title="abc"></cropper-wc>
      </div>
    </div>
  </div>

  <!-- Step2: Template Metadata -->
  <div class="tab md-tabs template-metadata">Template metadata:
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="templateName" data-vie="temMauHopDong">
      <label data-error="Empty">Template name</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="category" data-vie="phanLoai">
      <label data-error="Empty">Category</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="templateType" data-vie="loai">
      <label data-error="Empty">Type</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="itemType" data-vie="loaiTaiSan">
      <label data-error="Empty">Loai tai san</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="fee" data-vie="phiThu">
      <label data-error="Empty">Phi thu</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="anotherFee" data-vie="phiKhac">
      <label data-error="Empty">Phi khac</label>
    </div>
    <select class="browser-default custom-select">
      <option value="thanhToanLai" data-eng="interestPayment" data-vie="thanhToanLai">Phuong thuc thanh toan</option>
      <option value="thanhToanLai" data-eng="interestPayment" data-vie="thanhToanLai">Chi thanh toan lai</option>
      <option value="thanhToanGocLai" data-eng="originalProfitPayment" data-vie="thanhToanGocLai">Thanh toan goc +
        lai</option>
    </select>

  </div>

  <!-- Step 3: Contract metadata -->
  <div class="tab md-tabs contract-metadata">Contract metadata:

    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="creator" data-vie="nguoiLap">
      <label data-error="Empty">Nguoi lap</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="customer" data-vie="khachHang">
      <label data-error="Empty">Khach hang</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="customerId" data-vie="cmnd">
      <label data-error="Empty">CMND</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="customerIdProvidingPlace" data-vie="noiCap">
      <label data-error="Empty">Noi cap</label>
    </div>
    <div class="md-form">
      <input type="date" class="form-control validate" data-eng="customerIdProvidingDate" data-vie="ngayCap">
      <label data-error="Empty">Ngay cap</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="customerAddress" data-vie="diaChi">
      <label data-error="Empty">Dia chi</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="customerPhoneNumber" data-vie="soDienThoai">
      <label data-error="Empty">So dien thoai</label>
    </div>
    <div class="md-form">
      <input type="text" class="form-control validate" data-eng="customerFamilyRegister" data-vie="soHoKhau">
      <label data-error="Empty">Ho khau thuong tru</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="loan" data-vie="soTienVay">
      <label data-error="Empty">So tien vay</label>
    </div>
    <div class="container" style="padding: 0;">
      <div class="row">
        <div class="col">
          <div class="md-form">
            <input type="number" class="form-control validate" min="0" max="9999999999" data-eng="min"
              data-vie="soTienMin">
            <label data-error="Empty">So tien min</label>
          </div>
        </div>
        <div class="col">
          <div class="md-form">
            <input type="number" class="form-control validate" min="0" max="9999999999" data-eng="max"
              data-vie="soTienMax">
            <label data-error="Empty">So tien max</label>
          </div>
        </div>

      </div>
    </div>
    <div class="md-form">
      <input type="date" class="form-control validate" data-eng="createdDate" data-vie="ngayLap">
      <label data-error="Empty">Ngay lap</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="minLoanTerm" data-vie="thoiHanVayToiThieu">
      <label data-error="Empty">Thoi han vay toi thieu</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="percentageInterestPerDay" data-vie="tiLeLaiTheoNgay">
      <label data-error="Empty">Ti le lai theo ngay(%)</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="percentagePenaltyPerDay" data-vie="tiLePhatTheoNgay">
      <label data-error="Empty">Ti le phat theo ngay(%)</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="numberOfAcceptanceTerms" data-vie="soKyThu">
      <label data-error="Empty">So ky thu</label>
    </div>
    <div class="md-form">
      <input type="number" class="form-control validate" data-eng="numberOfDaysPerTerm" data-vie="soNgayMotKy">
      <label data-error="Empty">So ngay cua 1 ky</label>
    </div>

  </div>

  <!-- Step 4: Custom info -->
  <div class="tab md-tabs custom-info">Custom info:
    <div class="input-group">
      <div class="custom-file">
        <input type="file" class="custom-file-input" id="inputTemplateFile" accept=".csv"
          aria-describedby="inputGroupFileAddon01">
        <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
      </div>
    </div>
    <div id="contract-template-container"></div>
  </div>

  <!-- Step 5: Quill editor -->
  <div class="tab md-tabs contract-content">Contract content:
    <%- include('./quillEditor.ejs')  %>
  </div>

  <div class="modal-footer" style="display: flex; flex-direction: column;">
    <!-- Circles which indicates the steps of the form: -->
    <div style="text-align:center;margin-top:40px;">
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
      <span class="step"></span>
    </div>
    <div style="float:right;">
      <button type="button" class="btn btn-default btn-sm" id="prevBtn">Previous</button>
      <button type="button" class="btn btn-default btn-sm" id="nextBtn">Next</button>
    </div>

  </div>



</form>

<!-- <script type="module" src="/cropper/cropper.js"></script> -->

<script type="module">
  import { generateContractTemplateCard } from '/generateContractTemplateCard.js'
  import { ObjectId } from '/createMongooseID.js'
  import { findNestedObj } from '/findNestedObj.js'

  var currentTab = 0; // Current tab is set to be the first tab (0)
  var payOption = {}
  const contractTemplate = document.getElementById('temp_contract')
 
  showTab(currentTab); // Display the current tab

  document.querySelector('#prevBtn').addEventListener('click', () => {
    nextPrev(-1)
  })
  document.querySelector('#nextBtn').addEventListener('click', () => {
    nextPrev(1)
  })

  // function to display tabs
  function showTab(n) {
    // This function will display the specified tab of the form ...
    var x = document.getElementsByClassName("tab");
    x[n].style.display = "block";
    // ... and fix the Previous/Next buttons:
    if (n == 0) {
      document.getElementById("prevBtn").style.display = "none";
    } else {
      document.getElementById("prevBtn").style.display = "inline";
    }
    if (n == (x.length - 1)) {
      document.getElementById("nextBtn").innerHTML = "Create template";
    } else {
      document.getElementById("nextBtn").innerHTML = "Next";


    }
    // ... and run a function that displays the correct step indicator:
    fixStepIndicator(n)
  }

  // function to handle next step button clicked
  function nextPrev(n) {
    // This function will figure out which tab to display
    var x = document.getElementsByClassName("tab");
    // Exit the function if any field in the current tab is invalid:
    if (n == 1 && !validateForm()) return false;
    // Hide the current tab:
    x[currentTab].style.display = "none";
    // Increase or decrease the current tab by 1:
    currentTab = currentTab + n;
    // if you have reached the end of the form... :
    if (currentTab >= x.length) {
      //...the form gets submitted:
      var templateItem = {
        templateMetadata: [],
        contractMetadata: [],
        infos: [],
        _id: ObjectId()
      }

      // contract template metadata
      document.querySelector('.template-metadata').querySelectorAll('input').forEach(element => {
        var name = element.getAttribute('data-eng')
        var value = element.value
        var type = element.type
        var dataVie = element.getAttribute('data-vie')
        templateItem.templateMetadata.push(getObj(name, value, type, dataVie, 'korean string'))
      })

      // payment method for template metadata
      templateItem.templateMetadata.push(getObj('paymentMethod', document.querySelector('.custom-select').value, 'text', document.querySelector('.custom-select').value))

      // contract metadata:
      // - contract image for contractMetadata
      var imgData = document.querySelector('cropper-wc').getImageData()
      templateItem.contractMetadata.push({
        name: 'image',
        value: imgData
      })

      // - quill contract content for contract metadata
      var contractContent = quill.root.innerHTML
      console.log('contract content: ', contractContent)
      templateItem.contractMetadata.push(getObj('contractContent', quill.root.innerHTML, 'text', 'noiDungHopDong', 'korean string'))
      // - contract metadata
      document.querySelector('.contract-metadata').querySelectorAll('input').forEach(element => {
        var name = element.getAttribute('data-eng')
        var value = element.value
        var type = element.type
        var dataVie = element.getAttribute('data-vie')
        templateItem.contractMetadata.push(getObj(name, value, type, dataVie, 'korean string'))
      })

      // custom info
      document.querySelector('.custom-info').querySelectorAll('input').forEach(element => {
        if (element.type !== 'file') {
          var info = {}
          var name = element.closest('.md-form').querySelector('label').innerHTML.toLowerCase()
          var value = element.value
          var type = element.type

          templateItem.infos.push({
            name: name,
            value: value,
            cType: type
          })
        }
      })

      console.log('item is about to save: ', templateItem)

      $.ajax({
        type: 'POST',
        data: JSON.stringify(templateItem),
        contentType: 'application/json',
        url: 'createNewContractTemplate',
        success: (result) => {
          console.log(result)
          // displayTemplate(templateItem, contractTemplate, 'template-handler')
          window.location.reload()
        }
      })

      return false;
    }

    if (currentTab === x.length - 1) {
      quill.on('text-change', (delta, source) => {
        // console.log('delta: ', delta)
        // console.log('source: ', source)
        console.log('output: ', quill.root.innerHTML)
      })
    }
    // Otherwise, display the correct tab:
    showTab(currentTab);
  }

  // function to validate form
  function validateForm() {
    // This function deals with validation of the form fields
    var x, y, i, valid = true;
    x = document.getElementsByClassName("tab");
    y = x[currentTab].getElementsByTagName("input");
    // A loop that checks every input field in the current tab:
    for (i = 0; i < y.length; i++) {
      // If a field is empty...
      // if (y[i].value == "") {
      //   // add an "invalid" class to the field:
      //   y[i].className += " invalid";
      //   // and set the current valid status to false:
      //   valid = false;
      // }
    }
    // If the valid status is true, mark the step as finished and valid:
    if (valid) {
      document.getElementsByClassName("step")[currentTab].className += " finish";
    }
    return valid; // return the valid status
  }

  // function to display step indicator
  function fixStepIndicator(n) {
    // This function removes the "active" class of all steps...
    var i, x = document.getElementsByClassName("step");
    for (i = 0; i < x.length; i++) {
      x[i].className = x[i].className.replace(" active", "");
    }
    //... and adds the "active" class to the current step:
    x[n].className += " active";
  }

  const displayTemplate = (itemObj, template, elementName) => {
    generateContractTemplateCard(itemObj, template, elementName)

    document.querySelector('#template-handler').lastChild.addEventListener('click', (event) => {
      console.log('event abc: ', document.querySelector('modal-body'))
      var modalBody = document.querySelector('modal-body')
      modalBody.querySelector('button[id="btn-create-new-contract"]').addEventListener('click', (event) => {
        var cData = event.target.closest('modal-body').querySelector('.object-div').C_DATA
        console.log('abc xyz: ', cData)
        $.redirect("createNewContract", { data: JSON.stringify(cData) }, "POST");

      })

      modalBody.querySelector('button[id="btn-delete-contract-template"]').addEventListener('click', (event) => {
        var cData = event.target.closest('modal-body').querySelector('.object-div').C_DATA
        console.log('data to delete: ', cData)
        $.ajax({
          type: "DELETE",
          url: 'deleteContractTemplate/' + cData._id,
          contentType: 'application/json',
          data: JSON.stringify(findNestedObj(cData, 'name', 'image')),
          success: (result) => {
            console.log(result)
            window.location.reload()
          }

        })

      })

    })

  }

  const getObj = (name, value, type, dataVie, dataKor) => {
    return {
      name: name,
      value: value,
      cType: type,
      dataVie: dataVie,
      dataKor: dataKor
    }
  }

</script>

<script type="module">
  // generate template after choosing file
  import { generateCustomInfoTemplate } from '/generateCustomInfoTemplate.js'
  const template = document.querySelector('#contract-template')

  document.querySelector('#inputTemplateFile').addEventListener('change', (event) => {
    const file = event.target.files[0]
    var fileReader = new FileReader()
    fileReader.onload = (e) => {
      var csv = e.target.result
      console.log('result: ', csv)
      convertToArray(csv)

    }
    fileReader.readAsText(file, 'ISO-8859-1')
  })

  const convertToArray = (csv) => {
    const lines = csv.split('\n')
    const linesClone = lines
    var linesBreakPoint = []
    for (var i = 0; i < lines.length; i++) {
      if (lines[i] === "") {
        linesBreakPoint.push(i)
      }
    }

    var j = 0;
    for (var i = 0; i < linesBreakPoint.length; i++) {
      var array = []
      while (j < linesBreakPoint[i]) {
        array.push(lines[j])
        j += 1
      }
      j = linesBreakPoint[i] + 1
      console.log('array: ', array)
      document.querySelector('#contract-template-container').innerHTML = ""
      generateCustomInfoTemplate(array, template, 'contract-template-container')
    }


  }

</script>