<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('../../evaluationMng/views/navbar.ejs')  %>
  <div class="d-flex" id="wrapper">
    <%- include('../../evaluationMng/views/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>This is create employee page</h2>
      
  </div>

  <script>
    var createNewEmployee = document.querySelector('#create-new-employee').addEventListener('click', (event)=>{
      $('#modalContractForm').modal('show')
    })

  </script>

</body>

</html>