<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    img{
      max-width: 250px;
    }
  </style>
</head>

<body>
  <!-- create employee template for modal -->
  <template id="create-employee-template">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Tao moi nhan vien</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 object-div d-flex justify-content-between flex-wrap">
      <div class="cropper-container" style="width: 100%; padding: 0 18%;">
        <cropper-wc title="abc" ></cropper-wc>

      </div>
      <div class="form-group">
        <label class="active" data-error="wrong" data-success="right">Ho ten</label>
        <input type="text" class="form-control validate active" name="fullName" data-vie="hoTen" data-kor="koreanString" placeholder="abc">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Dia chi</label>
        <input type="text" class="form-control validate" name="address" data-vie="diaChi" data-kor="koreanString">
        
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Cmnd</label>
        <input type="text" class="form-control validate" name="id" data-vie="CMND" data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Ngay cap</label>
        <input type="date" class="form-control validate" name="providingDate" data-vie="ngayCap"
          data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Noi cap</label>
        <input type="text" class="form-control validate" name="providingPlace" data-vie="noiCap"
          data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">So dien thoai</label>
        <input type="number" class="form-control validate" name="phoneNumber" data-vie="soDienThoai"
          data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Email</label>
        <input type="email" class="form-control validate" name="email" data-vie="email" data-kor="koreanString">
      </div>

      <div class="select-container">
        <label>Phan quyen</label>
        <select class="browser-default custom-select select-role">
          <option name="role" value="member" data-vie="chucVu" data-kor="koreanString" selected>Member</option>
          <option name="role" value="admin" data-vie="chucVu" data-kor="koreanString">Admin</option>
          <option name="role" value="superAdmin" data-vie="chucVu" data-kor="koreanString">Super Admin</option>
          <option name="role" value="root" data-vie="chucVu" data-kor="koreanString">Root</option>

        </select>
      </div>

      <div class="select-container">
        <label>Chon Cua hang</label>
        <select class="browser-default custom-select select-store">
          <option value="">No store</option>
        </select>
      </div>


      <div class="form-group">
        <label data-error="wrong" data-success="right">Ghi chu</label>
        <input type="text" class="form-control validate" name="note" data-vie="ghiChu" data-kor="koreanString">
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-unique" id="btn-create-employee">Create</button>
    </div>

  </template>

  <!-- employee list -->
  <template id="employee-list">
    <div class="info-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="name"></p>
          </div>
          <div class="col">
            <p class="role"></p>
          </div>
          <div class="col">
            <p class="phone-number"></p>
          </div>
          <div class="col">
            <p class="email"></p>
          </div>
          <div class="col">
            <p class="id"></p>
          </div>
        </div>
      </div>

    </div>
  </template>

  <%- include('../Components/navbar.ejs') %>
  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>This is list of employees</h2>
      <!-- Search form -->
      <div class="search-container">
        <form class="form-inline active-cyan-4" id="form-search">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" id="search"
            aria-label="Search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </div>

      <div id="employee-list-container" class="list-container"></div>
      <button class="btn btn-default btn-sm" id="create-new-employee">Launch
        Modal Contact Form</button>

      <!-- modal to create new employee -->
      <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
          <div class="modal-content">
          </div>
        </div>
      </div>
    </div>
  </div>
  </div>
  <script type="module">
    import { generateEmployeeManagementList } from '/generateEmployeeManagementList.js'
    const employeeList = <%- JSON.stringify(employeeList) %>;
    const storeList = <%- JSON.stringify(storeList) %>;

    console.log('employee list: ', employeeList)
    console.log('store list: ', storeList)

    const modalContent = document.querySelector('#modalContactForm').querySelector('.modal-content')
    const employeeListTemplate = document.querySelector('#employee-list')

    generateEmployeeManagementList(employeeList, storeList, employeeListTemplate, 'employee-list-container', 'employees')

    // create new employee button
    document.querySelector('#create-new-employee').addEventListener('click', (event) => {
      $("#modalContactForm").on('show.bs.modal', () => {
        const createEmployee = document.querySelector('#create-employee-template').content.cloneNode(true)
        if (storeList.length === 0) {
          var option = document.createElement('option')
          option.value = ''
          option.innerHTML = 'No store'
          createEmployee.querySelector('.select-store').appendChild(option)

        } else {
          storeList.forEach(store => {
            var option = document.createElement('option')
            option.value = store._id
            option.innerHTML = store.fullName + "-" + store.address
            createEmployee.querySelector('.select-store').appendChild(option)
          })
        }

        createEmployee.querySelector("#btn-create-employee").addEventListener('click', (event) => {
          var employeeObj = {
            metadata: [],
            infos: [],
            store: null
          }
          employeeObj.metadata.push({
            cType: 'image',
            dataKor: 'koreanString',
            name: 'avatar',
            value: event.target.closest('.modal-content').querySelector('.modal-body').querySelector('cropper-wc').getImageData(),
            dataVie: 'anhDaiDien'
          })
          event.target.closest('.modal-content').querySelector('.modal-body').querySelectorAll('input').forEach(input => {
            employeeObj.metadata.push({
              cType: input.type,
              dataKor: input.getAttribute('data-kor'),
              name: input.getAttribute('name'),
              value: input.value,
              dataVie: input.getAttribute('data-vie')
            })

          })

          var select = event.target.closest('.modal-content').querySelector('.modal-body').querySelector('.select-role')
          var selectOption = select.options[select.selectedIndex]
          employeeObj.metadata.push({
            name: selectOption.getAttribute('name'),
            value: selectOption.getAttribute('value'),
            cType: 'select',
            dataVie: selectOption.getAttribute('data-vie'),
            dataKor: selectOption.getAttribute('data-kor')
          })

          var selectedStore = event.target.closest('.modal-content').querySelector('.modal-body').querySelector('.select-store')
          employeeObj.store = selectedStore.value
          console.log('input: ', employeeObj)
          $.ajax({
            type: 'POST',
            url: 'employees',
            contentType: 'application/json',
            data: JSON.stringify(employeeObj),
            success: result => {
              console.log('result: ', result)
              $("#modalContactForm").modal('hide')
              window.location.reload()
            }
          })

        })
        modalContent.innerHTML = ''
        modalContent.appendChild(createEmployee)
      })

      $("#modalContactForm").modal('show')
    })

    document.querySelector('#form-search').addEventListener('submit', (event) => {
      console.log('event: ', event.target)
      event.preventDefault()
      var searchValueArray = event.target.querySelector('input').value.split(' ')
      console.log('search array: ', searchValueArray)
      $.ajax({
        type: 'POST',
        url: 'employees/search',
        contentType: 'application/json',
        data: JSON.stringify({ data: searchValueArray }),
        success: result => {
          console.log('result: ', result)
          document.querySelector('#employee-list-container').innerHTML = ''
          if (result.employeeList.length !== 0) {
            generateEmployeeManagementList(result.employeeList, storeList, employeeListTemplate, 'employee-list-container', 'employees')

          } else {
            generateEmployeeManagementList(employeeList, storeList, employeeListTemplate, 'employee-list-container', 'employees')

          }

        }
      })
    })
  </script>

</body>

</html>