<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>
  <%- include('../Components/navbar.ejs') %>
  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>Danh sách loại tài sản</h2>
      <!-- itemType table -->
      <div id="itemType-list-container" class="list-container">
        <table class="table table-hover table-bordered  table-stripped ">
          <thead>
            <tr>
              <th data-resizable-column-id="name">Loại tài sản</th>
              <th data-resizable-column-id="itemTypeId">Mã loại tài sản</th>
            </tr>
          </thead>
          <tbody></tbody>
        </table>
      </div>

      <!-- modal -->
      <div class="modal" tabindex="-1" role="dialog">
        <div class="modal-dialog modal-md" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Tạo loại tài sản</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="form-group">
                <label class="bmd-label-floating">Mã loại tài sản</label>
                <input type="text" class="form-control" name="id">
              </div>
              <div class="form-group">
                <label class="bmd-label-floating">Loại tài sản</label>
                <input type="text" class="form-control" name="name">
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" id="submit">Tạo</button>
            </div>
          </div>
        </div>
      </div>

      <!-- create new itemTYpe button -->
      <button class="btn btn-sm btn-primary" id="btn-create-item-type">Tạo loại tài sản</button>

    </div>
  </div>

  <script type="module">
    import { makeRequest } from '/makeRequest.js'

    var itemTypeList = <%- JSON.stringify(itemTypeList) %>;
    console.log('itemType: ', itemTypeList)

    const modal = document.querySelector('.modal')
    const modalBody = document.querySelector('.modal-body')
    const modalFooter = document.querySelector('.modal-footer')

    // generate item type list
    if (itemTypeList.length !== 0) {
      itemTypeList.forEach(itemType => {
        var tr = document.createElement('tr')
        modalBody.C_DATA = itemType
        for (var prop in itemType) {
          if (prop === 'name' || prop === 'id') {
            var td = document.createElement('td')
            td.innerHTML = itemType[prop]
            tr.appendChild(td)
          }


        }
        
        tr.addEventListener('click', event=>{
          modalBody.querySelectorAll('input').forEach(input=>{
            input.value = itemType[input.getAttribute('name')]
            input.closest('.form-group').classList.add('is-filled')
          })
          var button = modalFooter.querySelector('button')
          button.id = 'edit'
          button.innerHTML = 'edit'
          // button.addEventListener('click', event=>{
          //   console.log('EDIT', event.target)
          // })
         
          $(".modal").modal('show')
        // $(tr).bootstrapMaterialDesign()
        })
        document.querySelector('.table').querySelector('tbody').appendChild(tr)
      })
    }

    // btn create item type
    document.querySelector('#btn-create-item-type').addEventListener('click', (event) => {
      console.log('event: ', event)
      modalBody.querySelectorAll('input').forEach(input=>{
        input.value = ''
      })
      var button = modalFooter.querySelector('button')
      button.id = 'submit'
      button.innerHTML = 'submit'
      $(".modal").modal('show')
    })

    // submit button
    document.querySelector('#submit').addEventListener('click', (event) => {
      var postObj = {}
      document.querySelector('.modal-body').querySelectorAll('input').forEach(input => {
        postObj[input.name] = input.value
      })
      switch (event.target.innerText) {
        case "EDIT":
          console.log("EDIT")
          console.log('postObj: ', postObj)
          modalBody.C_DATA? postObj._id = modalBody.C_DATA._id: null

          makeRequest('PUT', 'itemType/'+postObj._id, 'application/json', JSON.stringify(postObj), () => {
            window.location.reload()
          })
          break;
        case "SUBMIT":
          console.log("SUBMIT")
          console.log('postObj: ', postObj)
          makeRequest('POST', 'itemType', 'application/json', JSON.stringify(postObj), () => {
            window.location.reload()
          })
          break;
        default:
          break;
      }
     
    })

  </script>
</body>

</html>