<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .info-container{
      border: 1px solid lightgrey;
      padding: 1% 0%;
    }
    .info-container p{
      margin: 0;
    }
    .info-container:hover{
      cursor: pointer;
      background-color: lightgrey;
    }
    .name{
      font-weight: bold;
      font-size: larger;
    }
    .phone-number .email .id{
      font-size: smaller;
    }
  </style>
</head>

<body>
  <!-- create store template for modal -->
  <template id="create-store-template">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Tao moi cua hang</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3">
      <div class="md-form mb-5">
        <input type="text" class="form-control validate" name="fullName" data-vie="hoTen" data-kor="koreanString">
        <label data-error="wrong" data-success="right">Ten cua hang</label>
      </div>

      <div class="md-form mb-5">
        <input type="text" class="form-control validate" name="address" data-vie="diaChi" data-kor="koreanString">
        <label data-error="wrong" data-success="right">Dia chi</label>
      </div>

      <div class="md-form mb-5">
        <input type="number" class="form-control validate" name="phoneNumber" data-vie="soDienThoai" data-kor="koreanString">
        <label data-error="wrong" data-success="right">So dien thoai</label>
      </div>

      <div class="md-form mb-5">
        <input type="email" class="form-control validate" name="email" data-vie="email" data-kor="koreanString">
        <label data-error="wrong" data-success="right" >Email</label>
      </div>

      <div class="md-form mb-5">
        <input type="text" class="form-control validate" name="note" data-vie="ghiChu" data-kor="koreanString">
        <label data-error="wrong" data-success="right" >Ghi chu</label>
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-unique" id="btn-create-store">Create</button>
    </div>

  </template>

  <!-- store list -->
  <template id="store-list">
    <div class="info-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="name"></p>
          </div>
          <div class="col">
            <p class="phone-number"></p>
          </div>
          <div class="col">
            <p class="email"></p>
          </div>
          <div class="col">
            <p class="id"></p>
          </div>
        </div>
      </div>
      
    </div>
  </template>

  <%- include('../../evaluationMng/views/navbar.ejs')  %>
  <div class="d-flex" id="wrapper">
    <%- include('../../evaluationMng/views/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>This is list of store</h2>
      <div id="store-list-container"></div>
      <button class="btn btn-default btn-sm" id="create-new-store">Create new store</button>

      <!-- modal to create new store -->
      <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            

          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script type="module">
    import {generateManagementList} from '/generateManagementList.js'
    const storeList = <%- JSON.stringify(storeList) %>;
    console.log('store list: ', storeList)
    const modalContent = document.querySelector('#modalContactForm').querySelector('.modal-content')
    const storeListTemplate = document.querySelector('#store-list')

    generateManagementList(storeList, storeListTemplate, 'store-list-container', 'stores')

    // create new store button
    document.querySelector('#create-new-store').addEventListener('click', (event)=>{
      $("#modalContactForm").on('show.bs.modal', ()=>{
        const createstore = document.querySelector('#create-store-template').content.cloneNode(true)
        createstore.querySelector("#btn-create-store").addEventListener('click', (event)=>{
          var storeObj = {
            metadata: [],
            infos: []
          }
          event.target.closest('.modal-content').querySelector('.modal-body').querySelectorAll('input').forEach(input=>{
            storeObj.metadata.push({
              cType: input.type,
              dataKor: input.getAttribute('data-kor'),
              name: input.getAttribute('name'),
              value: input.value,
              dataVie: input.getAttribute('data-vie')
            })

          })
          console.log('input: ', storeObj)
          $.ajax({
            type: 'POST',
            url: 'stores',
            contentType: 'application/json',
            data: JSON.stringify(storeObj),
            success: result=>{
              console.log('result: ', result)
              $("#modalContactForm").modal('hide')
              window.location.reload()
            }
          })

        })
        modalContent.innerHTML = ''
        modalContent.appendChild(createstore)
      })

      $("#modalContactForm").modal('show')
    })
  </script>

</body>

</html>