<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  </style>
</head>

<body>
  <%- include('../Components/navbar.ejs') %>
  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>BẢNG TÍNH LÃI THEO DƯ NỢ GIẢM DẦN, GOC CO DINH</h2>
      <h4>Tao goi vay</h4>
      <div class="container loan-package">
        <div class="row">
          <div class="col d-flex">
            <div class="form-group">
              <label>Goi vay</label>
              <input type="number" class="form-control" id="presentValue">
            </div>
            <div class="form-group">
              <label>Thoi han vay</label>
              <input type="number" class="form-control" id="termOfLoan">
            </div>
            <div class="form-group">
              <label>Ti le lai theo nam</label>
              <input type="number" class="form-control" id="interestRatePerYear">
            </div>
            <div class="form-group">
              <label>Ngay bat dau goi vay</label>
              <input type="number" class="form-control" id="agreementDate">
            </div>
          </div>

        </div>
        <div class="row">
          <div class="col d-flex">
            <div class="form-group">
              <label>Lai suat thang</label>
              <input type="number" class="form-control" id="interestRatePerMonth">
            </div>
            <div class="form-group">
              <label>Lai suat ky</label>
              <input type="number" class="form-control" id="interestRatePerTerm">
            </div>
            <div class="form-group">
              <label>So lan tra</label>
              <input type="number" class="form-control" id="numberOfPayments">
            </div>
          </div>
        </div>
        <button class="btn btn-sm btn-primary" id="createLoanPackage">Kich hoat goi vay</button>

      </div>

      <h4>Bang chi tiet</h4>
      <table class="table table-striped table-bordered table-hover">
        <thead>
          <tr>
            <th scope="col" id="times">Times</th>
            <th scope="col" id="redemption">Redemption</th>
            <th scope="col" id="principal">Principal</th>
            <th scope="col" id="interest">Interest</th>

          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>


  <script>
    createLoanPackage.addEventListener('click', (event) => {
      console.log('event: ', event.target)
      var obj = {}
      event.target.closest('.container').querySelectorAll('input').forEach(input => {
        obj[input.id] = parseFloat(input.value)
      });
      calculateRedemption(obj)

    })
  </script>

  <script>
    const displayDept = (times, redemption, principal, interest) => {
      var tr = document.createElement('tr')

      var thTimes = document.createElement('th')
      thTimes.innerHTML = times
      tr.appendChild(thTimes)

      var thRedemption = document.createElement('th')
      thRedemption.innerHTML = `${redemption}`
      tr.appendChild(thRedemption)

      var thPrincipal = document.createElement('th')
      thPrincipal.innerHTML = `${principal}`
      tr.appendChild(thPrincipal)

      var thInterest = document.createElement('th')
      thInterest.innerHTML = `${interest}`
      tr.appendChild(thInterest)

      document.querySelector('table').querySelector('tbody').appendChild(tr)
    }
  </script>

  <script>
    const calculateRedemption = (package) => {
      console.log('package: ', package)
      var principal = package.presentValue / package.numberOfPayments
      var presentValue = package.presentValue
      var numberOfPayments = package.numberOfPayments

      for (var i = 0; i < numberOfPayments; i++) {

        var interest = Math.round((package.interestRatePerMonth * (package.presentValue - principal * i)) / 100, -1)
        console.log('i: ', i, ', interest: ', interest)
        var redemption = Math.round(interest + principal)
        displayDept(i + 1, redemption, principal, interest)

      }
    }
  </script>
</body>

</html>