<tr>
  <th id="/contractMng/waitingContracts">Hợp đồng chờ</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng/pendingContracts">Hợp đồng cần phê duyệt</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng/latePeriod">Khoản thu quá hạn</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng/goingToDo">Khoản thu sắp thực hiện</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng/contracts">Quản lý hợp đồng</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/evaluationMng/evaluation">Thẩm định giá</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng/contractTemplates">Tạo mới hợp đồng</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/properties">Quản lý tài sản</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/statistic">Báo cáo kho</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/moneyReport">Báo cáo quỹ tiền phòng GD</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/companyMoneyReport">Báo cáo quỹ tiền công ty</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/statisticReport">Thống kê báo cáo</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/checkTableSummaryReport">Báo cáo thu gốc, lãi</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng">Quản lý mẫu hợp đồng</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/stores">Quản lý cửa hàng</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/warehouses">Quản lý kho</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/itemStatus">Quản lý tình trạng tài sản</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/employees">Quản lý nhân viên</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/evaluationMng">Quản lý thẩm định giá</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/itemType">Quản lý loại tài sản</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/receiptId">Quản lý mã phiếu thu/chi</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/contractMng/transactionHistory">Bảng kê thu/chi</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>
<tr>
  <th id="/systemMng/roles">Quản lý phân quyền</th>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="GET">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="POST">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="PUT">
      </label>
    </div>
  </td>
  <td>
    <div class="checkbox">
      <label>
        <input type="checkbox" id="DELETE">
      </label>
    </div>
  </td>


</tr>

