<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <style>
    .form-group{
      width: 100% !important;
    }
    .select-container{
      width: 100% !important;
    }
  </style>
</head>

<body>
  <!-- create warehouse template for modal -->
  <template id="create-warehouse-template">
    <div class="modal-header text-center">
      <h4 class="modal-title w-100 font-weight-bold">Tao moi cua hang</h4>
      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body mx-3 object-div d-flex justify-content-between flex-wrap">
      <div class="form-group">
        <label data-error="wrong" data-success="right">Ten kho</label>
        <input type="text" class="form-control validate" name="warehouseName" data-vie="tenCuaHang"
          data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Dia chi</label>
        <input type="text" class="form-control validate" name="address" data-vie="diaChi" data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">So dien thoai</label>
        <input type="number" class="form-control validate" name="phoneNumber" data-vie="soDienThoai"
          data-kor="koreanString">
      </div>

      <div class="form-group">
        <label data-error="wrong" data-success="right">Email</label>
        <input type="email" class="form-control validate" name="email" data-vie="email" data-kor="koreanString">
      </div>


      <div class="form-group">
        <label data-error="wrong" data-success="right">Ghi chu</label>
        <input type="text" class="form-control validate" name="note" data-vie="ghiChu" data-kor="koreanString">
      </div>

    </div>
    <div class="modal-footer d-flex justify-content-center">
      <button class="btn btn-default" id="btn-add-representative">Add representative</button>
      <button class="btn btn-unique" id="btn-create-warehouse">Create</button>
    </div>

  </template>

  <template id="warehouse-representative-select-template">
    <div class="select-container">
      <label>Thu kho</label>
      <select class="browser-default custom-select">
        <option value="">No employee</option>
      </select>
    </div>
    
  </template>

  <!-- warehouse list -->
  <template id="warehouse-list">
    <div class="info-container">
      <div class="container">
        <div class="row">
          <div class="col">
            <p class="name"></p>
          </div>
          <div class="col">
            <p class="phone-number"></p>
          </div>
          <div class="col">
            <p class="email"></p>
          </div>
          <div class="col">
            <p class="id"></p>
          </div>
        </div>
      </div>

    </div>
  </template>

  <%- include('../Components/navbar.ejs') %>
  <div class="d-flex" id="wrapper">
    <%- include('../Components/sideBar.ejs') %>
    <div id="page-content-wrapper">
      <h2>This is list of warehouses</h2>
      <div class="search-container">
        <form class="form-inline active-cyan-4" id="form-search">
          <input class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search" id="search"
            aria-label="Search">
          <i class="fa fa-search" aria-hidden="true"></i>
        </form>
      </div>
      
      <div id="warehouse-list-container" class="list-container"></div>
      <button class="btn btn-default btn-sm" id="create-new-warehouse">Create new warehouse</button>

      <!-- modal to create new warehouse -->
      <div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">


          </div>
        </div>
      </div>
    </div>
  </div>
  </div>

  <script type="module">
    import { generateWarehouseManagementList } from '/generateWarehouseManagementList.js'
    const warehouseList = <%- JSON.stringify(warehouseList) %>;
    const employeeList = <%- JSON.stringify(employeeList) %>;
    console.log('warehouse list: ', warehouseList)
    console.log('employee list: ', employeeList)

    const modalContent = document.querySelector('#modalContactForm').querySelector('.modal-content')
    const warehouseListTemplate = document.querySelector('#warehouse-list')

    // create representative select box
    var warehouseRepresentativeSelect = document.querySelector('#warehouse-representative-select-template').content.cloneNode(true)
    employeeList.forEach(employee => {
      var option = document.createElement('option')
      option.value = employee._id
      option.innerHTML = employee.fullName + ' - ' + employee.role
      warehouseRepresentativeSelect.querySelector('select').appendChild(option)
    })

    generateWarehouseManagementList(warehouseList, employeeList, warehouseListTemplate, 'warehouse-list-container', 'warehouses')

    // create new warehouse button
    document.querySelector('#create-new-warehouse').addEventListener('click', (event) => {
      $("#modalContactForm").on('show.bs.modal', () => {
        modalContent.innerHTML = ''

        const createwarehouse = document.querySelector('#create-warehouse-template').content.cloneNode(true)

        // must have one select representative box as default
        const warehouseRepresentativeSelectClone = warehouseRepresentativeSelect.cloneNode(true)

        // for adding representatives button
        createwarehouse.querySelector('#btn-add-representative').addEventListener('click', (event) => {
          let warehouseRepresentativeSelectClone = warehouseRepresentativeSelect.cloneNode(true)
          event.target.closest('.modal-content').querySelector('.modal-body').appendChild(warehouseRepresentativeSelectClone)
        })

        createwarehouse.querySelector("#btn-create-warehouse").addEventListener('click', (event) => {
          var warehouseObj = {
            metadata: [],
            infos: [],
            representatives: []
          }
          event.target.closest('.modal-content').querySelector('.modal-body').querySelectorAll('input').forEach(input => {
            warehouseObj.metadata.push({
              cType: input.type,
              dataKor: input.getAttribute('data-kor'),
              name: input.getAttribute('name'),
              value: input.value,
              dataVie: input.getAttribute('data-vie')
            })

          })

          event.target.closest('.modal-content').querySelector('.modal-body').querySelectorAll('select').forEach(select => {
            if (select.value) {
              warehouseObj.representatives.push(select.value)

            }
          })
          console.log('input: ', warehouseObj)
          $.ajax({
            type: 'POST',
            url: 'warehouses',
            contentType: 'application/json',
            data: JSON.stringify(warehouseObj),
            success: result => {
              console.log('result: ', result)
              $("#modalContactForm").modal('hide')
              window.location.reload()
            }
          })

        })
        createwarehouse.querySelector('.modal-body').appendChild(warehouseRepresentativeSelectClone)
        modalContent.appendChild(createwarehouse)
      })

      $("#modalContactForm").modal('show')
    })

    document.querySelector('#form-search').addEventListener('submit', (event) => {
      console.log('event: ', event.target)
      event.preventDefault()
      var searchValueArray = event.target.querySelector('input').value.split(' ')
      console.log('search array: ', searchValueArray)
      $.ajax({
        type: 'POST',
        url: 'warehouses/search',
        contentType: 'application/json',
        data: JSON.stringify({ data: searchValueArray }),
        success: result => {
          console.log('result: ', result)
          document.querySelector('#warehouse-list-container').innerHTML = ''
          if (result.warehouseList.length !== 0) {
            generateWarehouseManagementList(result.warehouseList, employeeList, warehouseListTemplate, 'warehouse-list-container', 'warehouses')

          } else {
            generateWarehouseManagementList(warehouseList, employeeList, warehouseListTemplate, 'warehouse-list-container', 'warehouses')


          }

        }
      })
    })

  </script>

</body>

</html>