<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Simple Sidebar - Start Bootstrap Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/mdbootstrap/css/mdb.min.css" rel="stylesheet">
  <link href="/mdbootstrap/css/style.css" rel="stylesheet">


  <!-- material design.io -->
  <link href="/material-components-web/dist/material-components-web.min.css" rel="stylesheet">
  <script src="/material-components-web/dist/material-components-web.min.js"></script>
  <link href="/font-awesome/css/font-awesome.min.css">

  <!-- Custom styles for this template -->
  <style>
    @import url("/font-awesome/css/font-awesome.min.css");

    #wrapper {
      overflow-x: hidden;
    }

    #sidebar-wrapper {
      min-height: 100vh;
      margin-left: -15rem;
      -webkit-transition: margin .25s ease-out;
      -moz-transition: margin .25s ease-out;
      -o-transition: margin .25s ease-out;
      transition: margin .25s ease-out;
    }

    #sidebar-wrapper .sidebar-heading {
      padding: 0.875rem 1.25rem;
      font-size: 1.2rem;
    }

    #sidebar-wrapper .list-group {
      width: 15rem;
    }

    #page-content-wrapper {
      min-width: 100vw;
    }

    #wrapper.toggled #sidebar-wrapper {
      margin-left: 0;
    }

    @media (min-width: 768px) {
      #sidebar-wrapper {
        margin-left: 0;
      }

      #page-content-wrapper {
        min-width: 0;
        width: 100%;
      }

      #wrapper.toggled #sidebar-wrapper {
        margin-left: -15rem;
      }
    }

    ul {
      list-style-type: none;
    }
  </style>

</head>

<body>

  <div class="d-flex" id="wrapper">

    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
      <div class="sidebar-heading">Happy Money </div>
      <div class="list-group list-group-flush">
        <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>

        <!-- Nhac nho -->
        <a href="#" data-toggle="collapse" data-target="#contract-list"
          class="list-group-item list-group-item-action bg-light"> <span class="nav-label">
            Nhac nho </span> <span class="fa fa-chevron-left pull-right"></span> </a>
        <ul class="sub-menu collapse" id="contract-list">
          <li class="active"><a href="#" class="list-group-item list-group-item-action bg-light">Hop dong cho</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Khoan thu qua han</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Khoan thu sap phai thuc hien</a></li>
        </ul>

        <!-- Quan ly hop dong -->
        <a href="#" class="list-group-item list-group-item-action bg-light">Quan ly hop dong</a>

        <!-- Quan ly tham dinh gia -->
        <a href="#" class="list-group-item list-group-item-action bg-light">Quan ly tham dinh gia</a>

        <!-- Tao moi hop dong -->
        <a href="#" class="list-group-item list-group-item-action bg-light">Tao moi hop dong</a>

        <!-- Quan ly tai san -->
        <a href="#" class="list-group-item list-group-item-action bg-light">Quan ly tai san</a>

        <!-- Thong ke bao cao -->
        <a href="#" class="list-group-item list-group-item-action bg-light">Thong ke/Bao cao</a>

        <!-- Quan ly he thong -->
        <a href="#" data-toggle="collapse" data-target="#contract-type-list"
          class="list-group-item list-group-item-action bg-light"> <span class="nav-label">
            Quan ly he thong </span> <span class="fa fa-chevron-left pull-right"></span> </a>
        <ul class="collapse" id="contract-type-list" style="padding: 0; margin: 0;">
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Danh sach mau hop dong</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Tao mau hop dong</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Danh sach mau phieu</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Tao mau phieu</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly tai san</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly cua hang</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly nhan vien</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly khach hang</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly kho</a></li>
          <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly mau thong ke</a></li>
          <li><a href="./quanLyThamDinhGia.html" class="list-group-item list-group-item-action bg-light">Quan ly tham
              dinh gia</a></li>


        </ul>



      </div>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">

      <!-- navbar -->
      <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
        <button class="btn btn-primary" id="menu-toggle"><i class="fa fa-bars"></i></button>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
            <li class="nav-item active">
              <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                aria-haspopup="true" aria-expanded="false">
                Dropdown
              </a>
              <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Something else here</a>
              </div>
            </li>
          </ul>
        </div>
      </nav>

      <!-- papge content -->
      <div class="container-fluid" style="display: flex; flex-direction: column">
        <h1 class="mt-4">Quan Ly Tham Dinh Gia</h1>
        <p>The starting state of the menu will appear collapsed on smaller screens, and will appear non-collapsed on
          larger screens. When toggled using the button below, the menu will change.</p>
        <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>. The top navbar is optional,
          and just for demonstration. Just create an element with the <code>#menu-toggle</code> ID which will toggle the
          menu when clicked.</p>

        <!-- template of list of items -->
        <template id="quan-ly-tham-dinh-gia">
          <link href="/mdbootstrap/css/bootstrap.min.css" rel="stylesheet">
          <link href="/font-awesome/css/font-awesome.min.css">
          <style>
            @import url("/font-awesome/css/font-awesome.min.css");

            .container {
              width: 100%;
              border: 1px solid lightgrey;
            }

            .header-row-div {
              background-color: lightgrey;
              justify-content: space-between;
            }

            .row-div {
              justify-content: space-between;

            }

            .header-cell-div {
              font-weight: bold;
              padding: 15px;
            }

            .cell-div {
              padding: 15px;

            }

            input:disabled {
              border: none;
              background-color: inherit;
              width: 100%;
              cursor: pointer !important;
            }

            .header-row-div:hover {
              cursor: pointer;
              background-color: lightblue;
            }
          </style>
          <div class="metadata-container" style="display: flex;"></div>
          <div class="mdc-data-table" id="item-list-container" style="width: 60vw; margin: 0 10vw"></div>
          <!-- submit button -->


        </template>

        <!-- template of data field -->
        <template id="field-data">
          <div id="data-fields-container" style="display: flex;">
            <div class="md-form">
              <input type="text" class="form-control">
              <label for="name">Ten Truong</label>
            </div>
            <div class="md-form">
              <input type="text" class="form-control">
              <label for="value">Gia Tri</label>
            </div>
            
          </div>
        </template>

        <div id="input-search-container" style="display: flex; justify-content: space-between;">
          <div id="input-container">
            <div class="custom-file">
              <input type="file" accept=".csv" id="csv-reader" lass="custom-file-input"
                aria-describedby="inputGroupFileAddon01" />
              <label class="custom-file-label" for="csv-reader">Choose file</label>
            </div>

          </div>
          <div id="search-container">

          </div>

        </div>
        <!-- detail item modal when clicking to an item -->
        <div class="modal fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
          aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div id="item-detail"></div>
              <div class="button-options">
                <button class="btn btn-primary" id="edit-btn" style="position: relative; float: right;">Edit</button>
                <button class="btn btn-danger" id="delete-btn" style="position: relative; float: right;">Delete</button>
              </div>
            </div>
          </div>
        </div>

        <!-- add item modal when clicking to an add item button -->
        <div class="modal fade" id="addItemModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
          aria-hidden="true">
          <!-- Add .modal-dialog-centered to .modal-dialog to vertically center the modal -->
          <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <div class="row-div">
                  <!-- Material input -->
                  <div id="data-fields-container" style="display: flex;">
                    <div class="md-form">
                      <label for="name">Type</label>
                    </div>
                    <div class="md-form">
                      <input type="text"  class="form-control">
                      <label for="value">Category</label>
                    </div>
                    
                  </div>
                  <div id="data-field">

                  </div>

                </div>
              </div>
              <div class="modal-footer">
                <button id="add-field-button" type="button" class="btn btn-primary">Them Truong Du Lieu</button>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal">Save changes</button>
              </div>
            </div>
          </div>
        </div>

        <!-- list of items container -->
        <div id="table-container"></div>

        <!-- submit button -->
        <div id="button-container"></div>

        <!-- add item button -->
        <div id="add-item-button-container"></div>

        <!-- pagination -->
        <div id="page-navigation-container"></div>



      </div>
    </div>


  </div>

  <script src="/mdbootstrap/js/jquery.min.js"></script>
  <script src="/mdbootstrap/js/popper.min.js"></script>
  <script src="/mdbootstrap/js/bootstrap.min.js"></script>
  <script src="/mdbootstrap/js/mdb.min.js"></script>
  <script type="module">
    $("#menu-toggle").click(function (e) {
      e.preventDefault();
      $("#wrapper").toggleClass("toggled");
    });

    const template = document.querySelector('#quan-ly-tham-dinh-gia')

    const dataTemplate = document.querySelector('#field-data')

    // original item list (after removing duplicated items) for searching
    var originItemList = null

    window.onload = () => {
      // window.location = "data:text/csv;base64,77u/" + btoa("foo,bar\r\naaa,bbb")

      // convert csv to json
      document.querySelector('#csv-reader').addEventListener('change', (event) => {

        const file = event.target.files[0]
        var fileReader = new FileReader()
        fileReader.onload = (e) => {
          var csv = e.target.result
          console.log('result: ', e.target.result)
          convertToJSON(csv)

        }
        fileReader.readAsText(file, 'ISO-8859-1')



      })
      const searchContainer = document.querySelector('#search-container')
      if (searchContainer.firstChild) {
        searchContainer.innerHTML = ''
      }
      const search = document.createElement('form')
      search.className = 'input-group form-sm form-2 pl-0'
      search.innerHTML = `
        <input id="search" class="form-control my-0 py-1" type="text" placeholder="Search" aria-label="Search">
        <div class="input-group-prepend">
          <span class="input-group-text cyan lighten-3" id="basic-text1"><i class="fa fa-search text-grey"
              aria-hidden="true"></i></span>
        </div>`
      searchContainer.appendChild(search)



    }

    const convertToJSON = (csv) => {
      const lines = csv.split('\n')
      var resultsInJSON = {}
      var itemObjs = []

      const type = lines[0].split(",")[0]
      const category = lines[0].split(",")[1]
      const typeValue = lines[1].split(",")[0]
      const categoryValue = lines[1].split(",")[1]
      const labels = lines[2].split(",")

      for (var i = 3; i < lines.length - 1; i++) {
        const line = lines[i].split(",")
        var itemObj = {}
        var infos = []

        for (var j = 0; j < line.length; j++) {
          var infoObj = {}
          if (line[j] !== "") {
            infoObj["name"] = labels[j]
            infoObj["value"] = line[j]
            infos.push(infoObj)
          }

        }
        itemObj["infos"] = infos
        itemObj["metadata"] = {
          type: typeValue,
          category: categoryValue
        }
        resultsInJSON[i - 1] = itemObj
        // results.push(obj)

      }
      itemObjs = Object.values(resultsInJSON)
      console.log('json: ', itemObjs)
      if (itemObjs.length !== 0) {
        // create pagination
        originItemList = itemObjs.filter((info, index) => {
          const _thing = JSON.stringify(info);
          return index === itemObjs.findIndex(obj => {
            return JSON.stringify(obj) === _thing
          })
        })
        createPagination(originItemList)
      }


    }

    const createPagination = itemObjs => {
      // pagination
      const pageNavigationContainer = document.querySelector('#page-navigation-container')
      if (pageNavigationContainer.firstChild) {
        pageNavigationContainer.innerHTML = ''
      }
      const pageNavigation = document.createElement('div')
      pageNavigation.innerHTML = `<nav aria-label="Page navigation example" id="page-navigation">
          <ul class="pagination pg-blue">
            <li class="page-item ">
              <button class="page-link" tabindex="-1" id="prev" disabled='false'>Previous</button>
            </li>
            <div class="li-list" style="display: flex;"></div>
            <li class="page-item ">
              <button class="page-link" id="next" disabled='false'>Next</button>
            </li>
          </ul>
        </nav>`
      pageNavigationContainer.appendChild(pageNavigation)

      // duplicate object remove

      var list = itemObjs
      var pageList = []
      var currentPage = 1
      var numberPerPage = 5
      var numberOfPages = Math.ceil(list.length / numberPerPage)

      const generateList = () => {

        for (var i = 1; i <= numberOfPages; i++) {
          const li = document.createElement('li')
          li.className = 'page-item'

          const button = document.createElement('button')
          button.className = 'page-link'
          button.innerHTML = i
          button.id = i
          button.addEventListener('click', (evt) => {
            // randomPage(i)
            randomPage(parseInt(evt.target.innerHTML))
          })
          li.appendChild(button)

          document.querySelector('.li-list').appendChild(li)

        }

      }
      generateList()

      const nextPage = () => {
        currentPage += 1
        loadList()
      }

      const prevPage = () => {
        currentPage -= 1
        loadList()
      }

      const randomPage = (page) => {
        currentPage = page
        loadList()
      }

      const loadList = () => {
        var begin = ((currentPage - 1) * numberPerPage)
        var end = begin + numberPerPage

        pageList = list.slice(begin, end)
        generateHTML(pageList)
        check()

      }

      const check = () => {
        document.querySelector('#prev').disabled = currentPage == 1 ? true : false
        document.querySelector('#next').disabled = currentPage == numberOfPages ? true : false
      }

      loadList()
      document.querySelector('#prev').addEventListener('click', () => {
        prevPage()
      })
      document.querySelector('#next').addEventListener('click', () => {
        nextPage()
      })

      // search bar
      document.querySelector('#search').addEventListener('change', (event) => {
        event.preventDefault()
        searchFunction(event.target.value, originItemList)
      })

      // add data field 
      

      const addItemButtonContainer = document.querySelector('#add-item-button-container')
      if (addItemButtonContainer.firstChild) {
        addItemButtonContainer.innerHTML = ''
      }
      const addItemButton = document.createElement('button')
      addItemButton.className = 'btn btn-primary px-3 '
      addItemButton.setAttribute('data-toggle', 'modal')
      addItemButton.setAttribute('data-target', '#addItemModal')
      addItemButton.innerHTML = `<i class="fa fa-plus" aria-hidden="true"></i>`
      addItemButton.addEventListener('click', () => {
        console.log('abc')
       
      })
      addItemButtonContainer.appendChild(addItemButton)

      const addDataFieldButton = document.querySelector('#add-field-button')
      addDataFieldButton.addEventListener('click', ()=>{
        const clone = document.importNode(dataTemplate.content, true)
        document.querySelector('#data-field').appendChild(clone)
      })
      

    }

    const generateHTML = (itemObjs) => {
      if (document.querySelector('#item-list-container')) {
        document.querySelector('#item-list-container').parentNode.innerHTML = ''
      }
      if (document.querySelector('.metadata-container')) {
        document.querySelector('.metadata-container').parentNode.innerHTML = ''

      }
      const clone = document.importNode(template.content, true)

      const itemListContainer = clone.querySelector('#item-list-container')
      if (itemListContainer.firstChild) {
        itemListContainer.innerHTML = ''
      }

      // for item metadata
      const metadataContainer = clone.querySelector('.metadata-container')
      if (metadataContainer.firstChild) {
        metadataContainer.innerHTML = ''
      }
      Object.keys(itemObjs[0].metadata).forEach((key, index) => {
        const keyDiv = document.createElement('div')
        keyDiv.style.margin = '5px'
        keyDiv.style.fontWeight = 'bold'
        keyDiv.innerHTML = key + ": " + itemObjs[0].metadata[key]
        metadataContainer.appendChild(keyDiv)

      })

      // item list
      itemObjs.map(itemObj => {
        // item container
        const objDiv = document.createElement('div')
        objDiv.className = "object-div"
        objDiv.C_DATA = itemObj
        objDiv.setAttribute('custom_id', itemObj.infos.map(info => {
          return info.value
        }).join("-"))

        objDiv.setAttribute('c_data', true)

        // create item info row
        for (var i = 0; i < objDiv.C_DATA.infos.length; i++) {
          // create a row div
          const row = document.createElement('div')
          row.style.display = 'flex'
          row.style.flexDirection = 'row'

          if (i != 0) {
            // body of table

            // body row
            row.className = 'mdc-data-table__row row-div'

            // label of info
            const label = document.createElement('input')
            label.setAttribute('value', objDiv.C_DATA.infos[i].name)
            label.setAttribute('disabled', true)
            label.setAttribute('obj_property', 'name')
            // label.obj_property = 'name'
            label.className = 'mdc-data-table__cell cell-div'

            // value of info
            const value = document.createElement('input')
            value.setAttribute('value', objDiv.C_DATA.infos[i].value)
            value.setAttribute('disabled', true)
            value.setAttribute('obj_property', 'value')
            // value.obj_property = 'value'
            value.className = 'mdc-data-table__cell cell-div'

            row.appendChild(label)
            row.appendChild(value)

          } else {
            // header of table

            // header row
            row.className = 'mdc-data-table__header-row header-row-div'
            row.setAttribute('data-toggle', 'modal')
            row.setAttribute('data-target', '#itemModal')
            row.addEventListener('click', (event) => {
              // clone specific item and append it to the modal
              document.querySelector('#item-detail').innerHTML = ''
              const cloneDiv = event.target.parentNode.cloneNode(true)
              cloneDiv.querySelector('.header-row-div').removeEventListener('click', () => {
                null
              })
              cloneDiv.C_DATA = objDiv.C_DATA
              // cloneDiv.custom_id = objDiv.custom_id
              document.body.querySelector('#item-detail').appendChild(cloneDiv)
            })

            // info label
            const label = document.createElement('input')
            label.setAttribute('value', objDiv.C_DATA.infos[i].value)
            label.setAttribute('disabled', true)
            label.setAttribute('obj_property', 'value')
            label.className = 'mdc-data-table__header-cell header-cell-div'

            // append label and value of info into a row
            row.appendChild(label)

          }

          // append row into item container
          objDiv.appendChild(row)

          // append rows into detail container
          itemListContainer.appendChild(objDiv)
        }
      })

      // append clone table to table container
      document.body.querySelector('#table-container').appendChild(clone)

      // submit button
      const buttonContainer = document.querySelector('#button-container')
      if (document.querySelector('#button-container').firstChild) {
        buttonContainer.innerHTML = ''
      }
      const submitBtn = document.createElement('button')
      submitBtn.className = 'btn btn-primary'
      submitBtn.id = 'submit-button'
      submitBtn.innerHTML = "Submit"
      submitBtn.addEventListener('click', () => {
        $.ajax({
          type: 'POST',
          data: JSON.stringify(itemObjs),
          contentType: 'application/json',
          url: 'http://localhost:3000/postItem',
          success: (data) => {
            console.log('Saved successfully!')
          }
        })
      })
      buttonContainer.appendChild(submitBtn)

    }

    // edit button in modal
    function findNestedObj(entireObj, keyToFind, valToFind) {
      let foundObj;
      JSON.stringify(entireObj, (_, nestedValue) => {
        if (nestedValue && nestedValue[keyToFind] === valToFind) {
          foundObj = nestedValue;
        }
        return nestedValue;
      });
      return foundObj;
    };

    // edit button
    document.querySelector('#edit-btn').addEventListener('click', () => {
      const itemDetail = document.querySelector('#item-detail').firstChild
      itemDetail.querySelectorAll('.cell-div').forEach(element => {
        element.disabled ? element.removeAttribute('disabled') : element.setAttribute('disabled', true)
        // when clicking to the editable input
        element.addEventListener('click', (event) => {

          // get C_DATA of objectDiv
          var objectDiv = event.target.closest('div[class="object-div"]')
          var cData = objectDiv.C_DATA
          var CId = objectDiv.getAttribute('custom_id')

          // find the info object in the C_DATA
          var oldObj = findNestedObj(cData, event.target.getAttribute('obj_property'), event.target.getAttribute('value'))

          // "clone" found info object
          let newObj = oldObj

          var propName = event.target.getAttribute('obj_property')
          event.target.addEventListener('change', (event) => {
            const index = cData.infos.indexOf(oldObj)
            if (index > -1) {
              cData.infos.splice(index, 1)
            }
            var propValue = event.target.value

            newObj[propName] = propValue
            event.target.setAttribute('value', propValue)
            cData.infos.push(newObj)


            const realObjDiv = document.querySelectorAll('div[custom_id = "' + CId + '"]')[1]
            const realCellDivs = realObjDiv.querySelectorAll('.cell-div')
            var j = 1
            for (var i = 0; i < realCellDivs.length; i += 2) {
              realCellDivs[i].setAttribute('value', cData.infos[j][realCellDivs[i].getAttribute('obj_property')])
              realCellDivs[i + 1].setAttribute('value', cData.infos[j][realCellDivs[i + 1].getAttribute('obj_property')])
              j += 1
            }

          })
        })


      })
    })

    // search function
    const searchFunction = (itemValue, itemArray) => {
      console.log('new item array: ', itemArray)
      var foundItems = []
      itemArray.map(obj => {
        obj.infos.forEach(info => {
          if (JSON.stringify(info.value) === JSON.stringify(itemValue)) {
            foundItems.push(obj)
          }
        })
      })
      console.log('item found: ', foundItems)
      if (foundItems.length > 0) {
        createPagination(foundItems)
      } else {
        createPagination(itemArray)
      }

    }

    // check duplicate when loading from db
    const checkDuplicate = (itemArray1, itemArray2) => {
      itemArray1.forEach(obj1 => {
        itemArray2.forEach(obj2 => {
          if (JSON.stringify(obj1) === JSON.stringify(obj2)) {
            itemArray1.splice(itemArray1.indexOf(obj1), 1)
          }
        })
      })
      itemArray1.concat(itemArray2)
      generateHTML(itemArray1)
    }
  </script>

</body>

</html>