<template id="quan-ly-tham-dinh-gia">
  <style>
    .container {
      width: 100%;
      border: 1px solid lightgrey;
    }

    .header-row-div {
      background-color: lightgrey;
      justify-content: space-between;
    }

    .row-div {
      justify-content: space-between;

    }

    .header-cell-div {
      font-weight: bold;
      padding: 15px;
    }

    .cell-div {
      padding: 15px;

    }

    input:disabled {
      border: none;
      background-color: inherit;
      width: 100%;
      cursor: pointer !important;
    }

    .header-row-div:hover {
      cursor: pointer;
      background-color: lightblue;
    }

    .form-control:disabled {
      border: none;
      background-color: inherit;
      width: 100%;
      cursor: pointer !important;
    }
  </style>
  <div class="metadata-container" style="display: flex;"></div>
  <div class="mdc-data-table" id="item-list-container" style="width: 100%;"></div>


</template>

