<!-- Sidebar -->
<div class="bg-light border-right" id="sidebar-wrapper">
  <div class="sidebar-heading">Happy Money </div>
  <div class="list-group list-group-flush">
    <a href="#" class="list-group-item list-group-item-action bg-light">Dashboard</a>

    <!-- Nhac nho -->
    <a href="#" data-toggle="collapse" data-target="#contract-list"
      class="list-group-item list-group-item-action bg-light"> <span class="nav-label">
        Nhac nho </span> <span class="fa fa-chevron-left pull-right"></span> </a>
    <ul class="sub-menu collapse" id="contract-list">
      <li class="active"><a href="#" class="list-group-item list-group-item-action bg-light">Hop dong cho</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Khoan thu qua han</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Khoan thu sap phai thuc hien</a></li>
    </ul>

    <!-- Quan ly hop dong -->
    <a href="#" class="list-group-item list-group-item-action bg-light">Quan ly hop dong</a>

    <!-- Quan ly tham dinh gia -->
    <a href="#" class="list-group-item list-group-item-action bg-light">Quan ly tham dinh gia</a>

    <!-- Tao moi hop dong -->
    <a href="#" class="list-group-item list-group-item-action bg-light">Tao moi hop dong</a>

    <!-- Quan ly tai san -->
    <a href="#" class="list-group-item list-group-item-action bg-light">Quan ly tai san</a>

    <!-- Thong ke bao cao -->
    <a href="#" class="list-group-item list-group-item-action bg-light">Thong ke/Bao cao</a>

    <!-- Quan ly he thong -->
    <a href="#" data-toggle="collapse" data-target="#contract-type-list"
      class="list-group-item list-group-item-action bg-light"> <span class="nav-label">
        Quan ly he thong </span> <span class="fa fa-chevron-left pull-right"></span> </a>
    <ul class="collapse" id="contract-type-list" style="padding: 0; margin: 0;">
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Danh sach mau hop dong</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Tao mau hop dong</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Danh sach mau phieu</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Tao mau phieu</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly tai san</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly cua hang</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly nhan vien</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly khach hang</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly kho</a></li>
      <li><a href="#" class="list-group-item list-group-item-action bg-light">Quan ly mau thong ke</a></li>
      <li><a href="./quanLyThamDinhGia.html" class="list-group-item list-group-item-action bg-light">Quan ly tham
          dinh gia</a></li>


    </ul>



  </div>
</div>
<!-- /#sidebar-wrapper -->