<style>
  /* Begin: sidebar css */
  #sidebar-wrapper {
    position: relative;
    max-width: 15vw;
    width: 100%;
    -webkit-transition: margin .25s ease-out;
    -moz-transition: margin .25s ease-out;
    -o-transition: margin .25s ease-out;
    transition: margin .25s ease-out;
    margin: 60px 0;
  }

  #sidebar-wrapper .sidebar-container {
    position: fixed;
    display: inline-block;
    max-width: inherit;
    width: 100%;
    overflow: auto;
    max-height: 100vh;
  }

  .sidebar-container .list-group {
    padding-top: 0;
    margin-bottom: 5rem;

  }

  #sidebar-wrapper .sidebar-container::-webkit-scrollbar {
    display: none;
  }

  #wrapper.toggled #sidebar-wrapper {
    margin-left: -13rem;
  }

  .btn-toggle-container {
    height: fit-content;
    width: fit-content;
  }

  .list-group-item-light {
    color: black;
    border: none;
  }

  .list-group-item-secondary {
    border: none;
    font-size: 14px;
  }

  .rotate {
    -moz-transition: all .25s linear;
    -webkit-transition: all .25s linear;
    transition: all .25s linear;
  }

  .rotate.down {
    -moz-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }

  .rotate.right {
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  #page-content-wrapper {
    padding: 5% 3%;
    width: 100%;
    overflow: hidden;
  }

  /* End: sidebar css */

  #table-container {
    padding: 5% 7%;
  }

  .img-container {
    width: 100%;
    padding: 5%;
    display: flex;
  }

  img {
    width: 100%;

    margin: auto;
    height: auto;
  }

  /* list css */
  .info-container p {
    margin: 0;
  }

  .info-container:hover {
    cursor: pointer;
    background-color: lightgrey;
  }

  .name {
    font-weight: bold;
    font-size: larger;
  }

  .phone-number .email .id {
    font-size: smaller;
  }

  .list-container {
    padding: 5%;
  }

  .info-container .row {
    padding: 1%;
  }

  /* .list-container .info-container {
    border: 1px solid blue;
    font-weight: bolder;
  } */

  .list-container .info-container:first-child {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;

  }

  .list-container .info-container:last-child {
    border: 1px solid lightgrey;
  }

  .list-container .info-container:not(:first-child):not(:last-child) {
    border-top: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    border-left: 1px solid lightgrey;
    /* border-top: 1px solid lightgrey; */
  }
</style>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <div class="sidebar-container d-flex">
    <div class="sidebar">
      <div class="list-group list-group-flush justify-content-center">
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">Dashboard</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light rotate-list-item"
          data-toggle="collapse" data-target="#reminding-item">
          Nhac nho
          <span class="material-icons rotate">chevron_left</span>
        </a>
        <div class="collapse" id="reminding-item">
          <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Hop dong cho</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Khoan thu qua han</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Khoan thu sap phai thuc
            hien</a>
        </div>
        <a href="/contractMng/contracts" class="list-group-item list-group-item-action list-group-item-light">Quan ly
          hop
          dong</a>
        <a href="/evaluationMng/evaluation" class="list-group-item list-group-item-action list-group-item-light">Tham
          dinh
          gia</a>
        <a href="/contractMng/contractTemplates"
          class="list-group-item list-group-item-action list-group-item-light">Tao
          moi hop dong</a>
        <a href="/systemMng/properties" class="list-group-item list-group-item-action list-group-item-light">Quan ly tai san</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light">Thong ke/Bao cao</a>
        <a href="#" class="list-group-item list-group-item-action list-group-item-light rotate-list-item"
          data-toggle="collapse" data-target="#management-item">
          Quan ly he thong
          <span class="material-icons rotate">chevron_left</span>
        </a>
        <div class="collapse" id="management-item">
          <a href="/contractMng" class="list-group-item list-group-item-action list-group-item-secondary">Quan ly mau
            hop
            dong</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Quan ly mau phieu</a>
          <a href="/systemMng/stores" class="list-group-item list-group-item-action list-group-item-secondary">Quan ly
            cua
            hang</a>
          <a href="/systemMng/warehouses" class="list-group-item list-group-item-action list-group-item-secondary">Quan
            ly
            kho</a>
          <a href="/evaluationMng/itemStatus"
            class="list-group-item list-group-item-action list-group-item-secondary">Quan ly tinh trang tai
            san</a>
          <a onclick="getPage('systemMng/employees')" class="list-group-item list-group-item-action list-group-item-secondary">Quan
            ly
            nhan vien</a>
          <a href="#" class="list-group-item list-group-item-action list-group-item-secondary">Quan ly khach hang</a>
          <a href="/evaluationMng/" class="list-group-item list-group-item-action list-group-item-secondary">Quan ly
            tham
            dinh
            gia</a>
        </div>
      </div>
    </div>
    <div class="btn-toggle-container">
      <button class="btn btn-primary btn-sm rotate-btn px-2 " id="sidebar-toggle-btn">
        <span class="material-icons rotate">chevron_left</span>
      </button>
    </div>
  </div>

</div>


<script>
  // $("#menu-toggle").click(function (e) {
  //   e.preventDefault();
  //   $("#wrapper").toggleClass("toggled");

  // });
  document.querySelector('a[href="/contractMng/contractTemplates"]').addEventListener('click', (event) => {
    window.localStorage.removeItem('evaluatingItem')

  })
  // hide sidebar onclick
  $("#sidebar-toggle-btn").click(function (e) {
    e.preventDefault();
    $("#wrapper").toggleClass("toggled");
  });

  // rotate icon of list-group-item having sublist
  $(".rotate-list-item").click(function () {
    $(this).find(".rotate").toggleClass("down");
  })

  // rotate icon of toggle sidebar button when clicking
  $(".rotate-btn").click(function () {
    $(this).find(".rotate").toggleClass("right")
  })

  // css for sublist menu
  $(".collapse").on('show.bs.collapse', () => {
    $(".collapse").find(".list-group-item").css('justify-content', 'center')
    $(".collapse").find(".list-group-item").css('text-align', 'center')

  })

  // css for all list-group-item not having icon 
  document.querySelector('.sidebar-container').querySelectorAll(".list-group-item").forEach(element => {
    element.style.justifyContent = 'flex-start'

    // if(element.querySelector('span') === null){
    // }
  })

  const getPage = (url)=>{
    console.log('url: ', url)
    const accessToken = window.localStorage.getItem('accessToken')
    console.log('access token: ', accessToken)
    window.location.href = url + '?token=' + accessToken

    // $.ajax({
    //   type: 'GET',
    //   url: url,
    //   contentType: 'application/json',
    //   headers: {
    //     'x-access-token': `Bearer ${accessToken}`
    //   },
    //   success: result=>{
    //     console.log('result: ', result)
    //   }

    // })
  }
</script>
<!-- /#sidebar-wrapper -->